<section class="container">
  <mat-card class="profile-item">
    <div class="profile-item__image">
      <!--<img [src]="" alt="Alternate Text" />-->
    </div>
    <article class="detail__buy">
      <h2>{{userService.getUser()['name']}}</h2>
      <h3>{{userService.getUser()['userName']}}</h3>
      <h4>{{userService.getUser()['email']}}</h4>
      <p>{{userService.getUser()['info']}}</p>
    </article>
  </mat-card>

  <h2>My Games</h2>
  <div class="app-cards">
    <mat-card class="app-card" *ngFor="let item of items; let i = index">
      <div class="app-card__image">
        <img [src]="item.imageUrl" alt="Alternate Text" />
      </div>
      <div class="app-card__description">
        <span class="description__name">{{item.name}}</span> <br />
        <span class="description__price">PRICE: <span class="description__price-discount">{{item.price}}</span> <strong class="description__actualPrice">{{item.actualPrice}}</strong></span>
        <span class="description__left">LEFT: {{item.left}}</span>
      </div>
    </mat-card>
  </div>
</section>
