<mat-form-field class="search__field" [formGroup]="searchForm">
  <mat-label>Search</mat-label>
  <input (keyup)="onKeySearch($event)" formControlName="title" type="text" matInput name="title" />
</mat-form-field>
<section class="container">
  <section class="search">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <h2 *ngIf="items.length == 0 && !loading">There's no such products</h2>
    <div class="app-cards">
      <mat-card class="app-card" *ngFor="let item of items; let i = index">
        <div class="app-card__image">
          <img [src]="item.imageUrl" alt="Alternate Text" />
        </div>
        <div class="app-card__description" (click)="toDetail(item.productId)">
          <span class="description__name">{{item.name}}</span> <br />
          <span class="description__price">PRICE: <span *ngIf="item.left > 0" class="description__price-discount">{{item.price}}</span> <strong class="description__actualPrice">{{item.actualPrice}}</strong></span>
          <span *ngIf="item.left > 0" class="description__left">LEFT: {{item.left}}</span>
        </div>
      </mat-card>
    </div>
  </section>

  <aside class="filter">
    <mat-card class="filter__card">
      <form action="/" (submit)="search()" method="post" [formGroup]="searchForm">
        <h2>Filter</h2>
        <fieldset>
          <mat-form-field class="filter__field">
            <mat-label>From</mat-label>
            <input formControlName="startPrice" type="text" matInput name="startPrice" value="" />
          </mat-form-field>
          <mat-form-field class="filter__field">
            <mat-label>To</mat-label>
            <input formControlName="endPrice" type="text" matInput name="endPrice" value="" />
          </mat-form-field>
        </fieldset>
        <mat-form-field class="filter__field">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category" [(ngModel)]="category" name="category">
            <mat-option *ngFor="let category of categories" [value]="category.value">
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button class="filter__button" type="submit" mat-stroked-button color="primary">Search</button>
      </form>
    </mat-card>
  </aside>
</section>
