<mat-form-field class="search__field" [formGroup]="searchForm">
  <mat-label>Поиск</mat-label>
  <input (keyup)="onKeySearch($event)" formControlName="title" type="text" matInput name="title" />
</mat-form-field>
<section class="container">
  <section class="search">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <mat-card class="profile-item" *ngFor="let item of items">
      <div class="profile-item__image">
        <!--<img src="#" alt="Alternate Text" />-->
      </div>
      <article class="detail__buy">
        <h2>{{item.name}}</h2>
        <div class="detail__price">
          <mat-card class="price__discount">
            <span>-{{item.discount}}%</span>
          </mat-card>
          <span class="price">{{item.price}} BYN</span>
          <span class="price__actual">{{item.actualPrice}} BYN</span>
        </div>
      </article>
    </mat-card>
  </section>

  <aside class="filter">
    <mat-card class="filter__card">
      <form action="/" (submit)="search()" method="post" [formGroup]="searchForm">
        <h2>Filter</h2>
        <fieldset>
          <mat-form-field class="filter__field">
            <mat-label>From</mat-label>
            <input formControlName="startPrice" type="text" matInput name="startPrice" value="" />
          </mat-form-field>
          <mat-form-field class="filter__field">
            <mat-label>To</mat-label>
            <input formControlName="endPrice" type="text" matInput name="endPrice" value="" />
          </mat-form-field>
        </fieldset>
        <mat-form-field class="filter__field">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category" [(ngModel)]="category" name="category">
            <mat-option *ngFor="let category of categories" [value]="category.value">
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button class="filter__button" type="submit" mat-stroked-button color="primary">Поиск</button>
      </form>
    </mat-card>
  </aside>
</section>
