.app__image {
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    min-width: 300px;
    border-right: 1px solid rgba(0,0,0,0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

section {
  display: flex;
  justify-content: center;
}

.app__images {
  padding: 0;
  height: 300px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  width: 300px;
}

.app__detail {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.detail__info {
  width: calc(50% - 20px);
  min-height: 200px;
}

.info__title {

}

.info__description {
}

.detail__buy {
  width: calc(50% - 20px);
  min-height: 200px;
}

.detail__price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
}

.detail__cart {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.price {
  text-decoration: line-through;
  margin: 0 20px;
}

.price__discount {
  text-align: center;
  padding: 0 10px;
  height: 45px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.1);
}

.price__actual {

}

.add-to-cart {
  height: 60px;
  width: 160px;
  font-size: 25px;
  margin-top: 20px;
}
