.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth-form {
  min-width: 500px;
  max-width: 700px;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.mat-form-field {
  width: 100%
}

.mat-stroked-button {
  width: 100%;
}


.image {
  position: relative;
  margin-bottom: 20px;
}

  .image > label,
  .image {
    cursor: pointer;
  }

.image__delete {
  position: absolute;
  right: 5px;
  top: 5px;
}
