.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cart-item {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}

.cart-item:last-child {
  margin-bottom: 0;
}

.cart-item__image {
  min-height: 200px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 4px;
  max-width: 300px;
  max-height: 300px;
  width: 300px;
}

.cart-item__description {
  min-height: 60px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.detail__buy {
  width: calc(50% - 20px);
  min-height: 200px;
  padding: 0 20px;
}

.detail__price {
  display: flex;
  /*justify-content: flex-end;*/
  align-items: center;
  font-size: 25px;
}

.detail__cart {
  display: flex;
  /*justify-content: flex-end;*/
  width: 100%;
}

.price {
  text-decoration: line-through;
  margin: 0 20px;
}

.price__discount {
  text-align: center;
  padding: 0 10px;
  height: 45px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.1);
}

.buy-button {
  height: 60px;
  width: 160px;
  font-size: 25px;
}

.cart-buy {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.app-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.app-card {
  height: 170px;
  width: 30%;
  margin: 10px;
  padding: 0;
  cursor: pointer;
}

.app-card__image {
  height: 100px;
  border-start-start-radius: 4px;
  border-start-end-radius: 4px;
  background-color: rgba(0,0,0,0.2)
}

  .app-card__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

.app-card__description {
  min-height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
