<section class="container">
  <h1>Cart</h1>
  <mat-card class="cart-item" *ngFor="let item of items">
    <div class="cart-item__image">
      <!--<img src="#" alt="Alternate Text" />-->
    </div>
    <article class="detail__buy">
      <h2>{{item.name}}</h2>
      <div class="detail__price">
        <mat-card class="price__discount">
          <span>-{{item.discount}}%</span>
        </mat-card>
        <span class="price">{{item.price}} BYN</span>
        <span class="price__actual">{{item.actualPrice}} BYN</span>
      </div>
    </article>
  </mat-card>

  <div class="cart-buy">
    <h2>TOTAL: {{total}} BYN</h2>
    <button class="buy-button" href="#" mat-stroked-button color="primary">PAY</button>
  </div>
</section>
