<h1>Специальные предложения</h1>
<div class="app-cards">
  <mat-card class="app-card" *ngFor="let item of items; let i = index">
    <div class="app-card__image">
      <!--<img src="#" alt="Alternate Text" />-->
    </div>
    <div class="app-card__description">
      <span class="description__name">{{item.name}}</span> <br />
      <span class="description__price">ЦЕНА: <span class="description__price-discount">{{item.price}}</span> <strong class="description__actualPrice">{{item.actualPrice}}</strong></span>
      <span class="description__left">ОСТАЛОСЬ: {{item.left}}</span>
    </div>
  </mat-card>
</div>

<h1>Популярное</h1>
<div class="app-cards">
  <mat-card class="app-card" *ngFor="let item of items_other; let i = index">
    <div class="app-card__image">
      <!--<img src="#" alt="Alternate Text" />-->
    </div>
    <div class="app-card__description">
      <span class="description__name">{{item.name}}</span> <br />
      <span class="description__price">ЦЕНА: <span class="description__price-discount">{{item.price}}</span> <strong class="description__actualPrice">{{item.actualPrice}}</strong></span>
      <span class="description__left">ОСТАЛОСЬ: {{item.left}}</span>
    </div>
  </mat-card>
</div>

